@import "tailwindcss";

/* body {
    background-color: #F2F9FD;
} */

:root {
    --bg-app: #F2F9FD;
    --bg-card: #ffffff;
    --text-primary: #1f2937;
    --text-secondary: #6b7280;
    --border-color: #e5e7eb;
    --icon-hover-bg: #e0f2fe;
    --icon-hover-text: #2563eb;
}

/* DARK THEME */
[data-theme="dark"] {
    --bg-app: #0f172a;
    --bg-card: #020617;
    --text-primary: #f8fafc;
    --text-secondary: #94a3b8;
    --border-color: #1e293b;
    --icon-hover-bg: #1e3a8a;
    --icon-hover-text: #93c5fd;
}