@import "tailwindcss";

:root {
    --bg-app: #F2F9FD;
    --bg-card: #ffffff;
    /* --bg-card: #dba0a0; */

    --text-primary: #1f2937;
    --text-secondary: #6b7280;

    --border-color: #e5e7eb;

    --icon-hover-bg: #e0f2fe;
    --icon-hover-text: #2563eb;

    /* Charts */
    --chart-grid: #e5e7eb;
    --chart-axis: #6b7280;

    --chart-primary: #2563eb;
    --chart-secondary: #38bdf8;
    --chart-success: #22c55e;
    --chart-danger: #ef4444;

    /* Tooltip */
    --tooltip-bg: #2f313e;
    --tooltip-border: #1e293b;
    --tooltip-text: #f8fafc;

    /* Dashboard 2  */
    --color-brand: #078fea;
    --color-brand-dark: #0d76bb;
    --color-brand-light: #98cdf0;

    --color-bg-card: #ffffff;
    --color-text-primary: #0f172a;

    --color-new-goals-bg: #D4EBF8;

    /* E-Commerce  */
    --bg-input: #ffffff;
}

[data-theme="dark"] {
    /* --bg-app: #0f172a;
    --bg-card: #020617; */

    --bg-app: #142638;
    --bg-card: #121D2E;

    --text-primary: #f8fafc;
    --text-secondary: #94a3b8;

    --border-color: #1e293b;

    --icon-hover-bg: #1e3a8a;
    --icon-hover-text: #93c5fd;

    /* Charts */
    --chart-grid: #1e293b;
    --chart-axis: #94a3b8;

    --chart-primary: #4b7ff0;
    --chart-secondary: #66cbf6;
    --chart-success: #4ade80;
    --chart-danger: #f87171;

    /* Tooltip */
    --tooltip-bg: #151826;
    --tooltip-border: #19212f;
    --tooltip-text: #f8fafc;


    /* Dashboard 2 */
    --color-bg-card: #0b1220;
    --color-text-primary: #e5e7eb;

    --color-new-goals-bg: #11324C;

    /* E-Commerce  */
    --bg-input: #0b1220;
}

html,
body {
    height: 100%;
    overflow: hidden;
}


body {
    background-color: var(--bg-app);
    color: var(--text-primary);
}

/* Scoped scrollbar */
.dashboard-scroll::-webkit-scrollbar {
    width: 6px;
}

.dashboard-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.dashboard-scroll::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 9999px;
}

.dashboard-scroll::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-secondary);
}

.form-input {
    @apply w-full rounded-lg border border-[var(--border-color)] bg-[var(--bg-input)] px-4 py-2 text-sm text-[var(--text-primary)] focus:outline-none focus:ring-2 focus:ring-blue-500;
}